/* Certaines cartes Heltec et TTGO anciennes ont un quartz de 26 MHz au lieu de
 * 40 MHz (esptool l'affiche : « Crystal frequency: 26MHz »). À appliquer au
 * firmware et à MCUboot.
 */
&cpu0 {
	xtal-freq = <DT_FREQ_M(26)>;
};

&cpu1 {
	xtal-freq = <DT_FREQ_M(26)>;
};
